{% extends 'base.html.twig' %}

{% block main %}

    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}

        <input type="submit" value="Send" />

        {{ form_end(our_form) }}
    </div>

{% endblock %}